*{padding:0; margin:0;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

nav{width:100%;
     height:100px;
    display:flex;
justify-content:center;
align-items:center;
background-color:rgba(159,255,159,0.7);
}

#logo{width:40%;
    font-size:30px;
    display:flex;
    
    
}
#logo>img{
  opacity:0.2;
}


#menu{width:60%;
      display:flex;
      justify-content:space-around;
    }

    #menu>a{
      
      
      box-shadow:1px 1px 2px 2px black;  
        font-size:20px;
        text-decoration:none;
        color:rgb(97,97,97);
        font-weight:bold;
        position:relative;
    }
    #menu>a::before{
                  content:"";
                  width:0%;
                  height:4px;
                  top:100%;
                position:absolute;;
                  background:rgb(159,255,159);
                  transition:linear all 0.5s;
    }
    #menu>a:hover::before{
             width:100%;
             background:teal;
    }
                        /*<--menu-->*/

      

      #menudiv{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        background:rgba(159,255,159,0.7);
        width:10%;
        height:500px;
        float:left;
        font-size:20px;
        font-weight:bold;
      }

    #myframe{width:89%;
                height:500px;
              background:rgba(159,255,159,0.1);  }

    #menudiv>a{
      text-decoration:none;
      color:black;
    }